{% load static %}

<!DOCTYPE html>
<html lang="fa" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no;"
    />
    <title>رزومه</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'website/img/favicon.png' %}" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{% static 'website/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'website/css/bootstrap-rtl.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'website/lib/magnific-popup/magnific-popup.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'website/lib/owl-carousel/owl.carousel.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'website/lib/owl-carousel/owl.theme.css' %}"
    />
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/style-rtl.css' %}" />
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" />

    <!-- Modernizr -->
    <script src="{% static 'website/js/modernizr.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div class="loader"></div>
    </div>
    <!--preloader end-->

    <div class="page-container">
      <!-- Profile Page -->
      <div class="single-page">
        <!-- Profile Page Title-->
        <div class="page-title">
          <span><i class="fa fa-user fa-3x"></i></span>
          <h2>درباره من</h2>
          <p class="menu-desc">افتخارات من...</p>
        </div>
        <!-- .page-title -->

        <!-- Profile Page Contents-->
        <div class="page-info container-fluid">
          <!-- about me -->
          <div class="row about-me">
            <div class="col-sm-5 col-sm-offset-1 profile-image">
              <div class="pp-container">
                <img src="{% static 'website/img/avatar.png'%}" alt="" />
              </div>
              <h2><span>نوید</span><span>منوچهری</span></h2>
              <h3>طراح و توسعه دهنده وب و همه چیز بلد</h3>
            </div>
            <!--.Profile image end-->

            <!-- bio-->
            <div class="col-sm-6 bio">
              <div class="bio-inner">
                <div class="col-md-10">
                  <h3>بهترین قالب ها در سایت وب دیزاین دانلود</h3>
                  <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                    با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                    و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                    تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                    کاربردی می باشد.
                  </p>
                  <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                    با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه
                    و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                    تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                    کاربردی می باشد.
                  </p>

                  <div class="buttons">
                    <a href="mailto:mail@yourmail.com" class="btn hire-me"
                      >استخدام کنید</a
                    >
                    <a
                      href="resume.pdf"
                      target="_blank"
                      class="btn download-resume"
                      >دریافت رزومه</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- .bio End -->
          </div>
          <!-- .about-me end-->

          <!-- services-->
          <div class="row services">
            <div class="over-div"></div>
            <div class="sec-divider"></div>
            <h2 class="section-title">پروژه هایی که می توانید سفارش دهید</h2>

            <div class="container service-list">
              <div class="row">
                <div class="col-sm-6 col-md-3 service">
                  <span><i class="fa fa-lightbulb-o fa-3x"></i></span>
                  <h3>ایده</h3>
                  <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                    با استفاده از طراحان گرافیک است.
                  </p>
                </div>
                <!--single service -->

                <div class="col-sm-6 col-md-3 service">
                  <span><i class="fa fa-code fa-3x"></i></span>
                  <h3>توسعه وب</h3>
                  <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                    با استفاده از طراحان گرافیک است.
                  </p>
                </div>
                <!--single service -->

                <div class="col-sm-6 col-md-3 service">
                  <span><i class="fa fa-android fa-3x"></i></span>
                  <h3>اپلیکیشن اندروید</h3>
                  <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                    با استفاده از طراحان گرافیک است.
                  </p>
                </div>
                <!--single service -->

                <div class="col-sm-6 col-md-3 service">
                  <span><i class="fa fa-wordpress fa-3x"></i></span>
                  <h3>وردپرس</h3>
                  <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                    با استفاده از طراحان گرافیک است.
                  </p>
                </div>
                <!--single service -->
              </div>
              <!-- row of services -->
            </div>
            <!-- service list-->
          </div>
          <!-- #Services end-->

          <div class="row fun-facts">
            <ul>
              <li>
                <h3>50+</h3>
                <h5>مشتری راضی</h5>
              </li>
              <li>
                <h3><i class="fa fa-bicycle"></i></h3>
                <h5>دوچرخه سوار</h5>
              </li>
              <li>
                <h3>100+</h3>
                <h5>پروژه پایان یافته</h5>
              </li>
              <li>
                <h3><i class="fa fa-camera-retro"></i></h3>
                <h5>عکاس</h5>
              </li>
              <li>
                <h3>200+</h3>
                <h5>قهوه نوشیده شده</h5>
              </li>
            </ul>
          </div>
          <!-- Fun facts end-->

          <div class="row footer">
            <a href="http://www.webdesigndl.com">وب دیزاین دانلود</a>
            <span>کپی رایت &copy; 1393 تمامی حقوق محفوظ است</span>
          </div>
          <!--footer end-->
        </div>
        <!-- .page-info -->
      </div>
      <!-- Single Page end -->

      <!-- Resume Page -->

      <div class="single-page">
        <div class="page-title">
          <span><i class="fa fa-file-text fa-3x"></i></span>
          <h2>رزومه</h2>
          <p class="menu-desc">مهارت های بی نهایت من...</p>
        </div>
        <!-- .page-title -->

        <!-- Resume Page Contents-->
        <div class="page-info container-fluid">
          <div class="row resume">
            <div class="over-div"></div>
            <div class="container">
              <div class="col-xs-6 education">
                <h2>- تحصیلات -</h2>

                <ul class="edu-list">
                  <li>
                    <h3>دانشگاه هاروارد</h3>
                    <h4>لیسانس مهندسی</h4>
                    <span>2007-2011</span>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است.
                    </p>
                  </li>
                  <li>
                    <h3>کالج انگلیس</h3>
                    <h4>سطح یک</h4>
                    <span>2005-2007</span>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است.
                    </p>
                  </li>
                  <li>
                    <h3>مدرسه طراحی</h3>
                    <h4>سطح سه</h4>
                    <span>2000-2005</span>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است.
                    </p>
                  </li>
                </ul>
              </div>

              <div class="col-xs-6 employment">
                <h2>- همکاری با -</h2>

                <ul class="employment-list">
                  <li>
                    <h3>شرکت طراحی</h3>
                    <h4>سرپرست توسعه</h4>
                    <span>از 2002 تا کنون</span>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی
                      با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                      گرافیک است.
                    </p>
                  </li>
                  <li>
                    <h3>توسعه نرم افزاری کشک</h3>
                    <h4>توسعه دهنده کاربری</h4>
                    <span>ژانویخ 2000 تا 2003</span>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است.
                    </p>
                  </li>
                  <li>
                    <h3>وب دیزاین دانلود</h3>
                    <h4>طراح وب</h4>
                    <span>مهر 1390 تا بهمن 1393</span>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <!-- .container-->
          </div>
          <!-- Resume section end -->

          <div class="row skills">
            <div class="over-div"></div>
            <div class="sec-divider"></div>
            <h2 class="section-title">مهارت های من</h2>

            <div class="skill-container container">
              <div class="row">
                <div class="col-xs-6 col-sm-4 skill">
                  <figure>
                    <canvas height="150" id="html_css" width="150"></canvas>
                    <figcaption>Semantic HTML5 &amp; CSS3</figcaption>
                  </figure>
                </div>
                <div class="col-xs-6 col-sm-4 skill">
                  <figure>
                    <canvas height="150" id="sass" width="150"></canvas>
                    <figcaption>Sass</figcaption>
                  </figure>
                </div>
                <div class="col-xs-6 col-sm-4 skill">
                  <figure>
                    <canvas height="150" id="jquery" width="150"></canvas>
                    <figcaption>jQuery</figcaption>
                  </figure>
                </div>

                <div class="col-xs-6 col-sm-4 skill">
                  <figure>
                    <canvas height="150" id="rails" width="150"></canvas>
                    <figcaption>Ruby on Rails</figcaption>
                  </figure>
                </div>
                <div class="col-xs-6 col-sm-4 skill">
                  <figure>
                    <canvas height="150" id="backbone" width="150"></canvas>
                    <figcaption>Backbone.js</figcaption>
                  </figure>
                </div>
                <div class="col-xs-6 col-sm-4 skill">
                  <figure>
                    <canvas height="150" id="photoshop" width="150"></canvas>
                    <figcaption>Photoshop</figcaption>
                  </figure>
                </div>
              </div>
              <!-- row end-->
            </div>
            <!-- Skill container -->
          </div>
          <!-- Skills Section end -->

          <div class="row recognition">
            <div class="col-sm-6 rec-desc">
              <div class="rec-inner">
                <h2>توصیه ها</h2>
                <p>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید
                  سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                  است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                  و با استفاده از طراحان گرافیک است.
                </p>
              </div>
            </div>
            <div class="col-sm-6 rec-list">
              <ul>
                <li>
                  <span class="fa fa-trophy fa-5x pull-left fa-fw"></span>
                  <h3>برنده توسعه اپ</h3>
                  <h5>برنده</h5>
                  <h4>بنگلادش</h4>
                </li>

                <li>
                  <span class="fa fa-trophy fa-5x pull-left fa-fw"></span>
                  <h3>جایزه بهترین طراحی</h3>
                  <h5>توسعه دهنده فرانت اند</h5>
                  <h4>امریکا</h4>
                </li>

                <li>
                  <span class="fa fa-trophy fa-5x pull-left fa-fw"></span>
                  <h3>جایزه بهترین رابط کاربری</h3>
                  <h5>طراحان رابط کاربری</h5>
                  <h4>نیوجرسی</h4>
                </li>

                <li>
                  <span class="fa fa-microphone fa-5x pull-left fa-fw"></span>
                  <h3>وب دیزاین دانلود</h3>
                  <h5>گوینده</h5>
                  <h4>ایران</h4>
                </li>
              </ul>
            </div>
          </div>
          <!-- Recognition section end -->

          <div class="row footer">
            <a href="http://www.webdesigndl.com">وب دیزاین دانلود</a>
            <span>کپی رایت &copy; 1393 کلیه حقوق محفوظ است</span>
          </div>
          <!--footer end-->
        </div>
        <!-- .page-info -->
      </div>
      <!-- Single Page end -->

      <!-- Portfolio Page -->

      <div class="single-page">
        <div class="page-title">
          <span><i class="fa fa-briefcase fa-3x"></i></span>
          <h2>نمونه کار</h2>
          <p class="menu-desc">برخی از پروژه های من...</p>
        </div>
        <!-- .page-title -->

        <!-- Portfolio Page Contents-->
        <div class="page-info container-fluid">
          <div class="row portfolios">
            <div class="portfolio-container">
              <div class="controls">
                <button class="filter" data-filter="all">همه</button>
                <button class="filter" data-filter=".category-1">
                  طراحی وب
                </button>
                <button class="filter" data-filter=".category-2">
                  توسعه اپ
                </button>
                <button class="filter" data-filter=".category-3">
                  طراحی گرافیک
                </button>
              </div>

              <div id="portfolio" class="portfolio-items">
                <!--Single portfolio item -->
                <div
                  class="col-sm-6 col-md-4 mix category-1"
                  data-myorder="Web Design"
                >
                  <figure class="effect-roxy">
                    <img
                      src="{% static 'website/img/portfolio/thumb/p-1.jpg'%}"
                      alt=""
                    />
                    <figcaption>
                      <h2>عنوان پروژه</h2>
                      <p>توضیحات پروژه شما در این قسمت</p>
                      <a href="#portfolio9" class="open-portfolio">جستجو</a>
                    </figcaption>
                  </figure>
                </div>
                <!-- Popup content -->
                <div id="portfolio9" class="white-popup mfp-hide">
                  <img
                    src="{% static 'website/img/portfolio/p-1.jpg'%}"
                    alt="Portfolio Image"
                  />
                  <h2 class="project-title">عنوان پروژه</h2>
                  <p class="project-desc">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و
                    با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با
                    تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                    گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                    صنعت چاپ و با استفاده از طراحان گرافیک است.
                  </p>
                  <a class="project-url btn" href="#">نمایش زنده</a>
                </div>
                <!--.Single item end-->

                <!--Single portfolio item -->
                <div
                  class="col-sm-6 col-md-4 mix category-2"
                  data-myorder="App Development"
                >
                  <figure class="effect-roxy">
                    <img
                      src="{% static 'website/img/portfolio/thumb/p-2.jpg'%}"
                      alt=""
                    />
                    <figcaption>
                      <h2>Project <span>Title</span></h2>
                      <p>Your Awesome Project Description</p>
                      <a href="#portfolio2" class="open-portfolio">Explore</a>
                    </figcaption>
                  </figure>
                </div>
                <!-- Popup content -->
                <div id="portfolio2" class="white-popup mfp-hide">
                  <img
                    src="{% static 'website/img/portfolio/p-2.jpg'%}"
                    alt="Portfolio Image"
                  />
                  <h2 class="project-title">Awesome Project Title</h2>
                  <p class="project-desc">
                    Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet
                    torquatos temporibus te. Nam nulla fabellas similique id,
                    eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in
                    vel illud numquam. Evertitur consetetur voluptatum pri id,
                    in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale
                    appareat.
                  </p>
                  <a class="project-url btn" href="#">See Live</a>
                </div>
                <!--.Single item end-->

                <!--Single portfolio item -->
                <div
                  class="col-sm-6 col-md-4 mix category-3"
                  data-myorder="Graphic Design"
                >
                  <figure class="effect-roxy">
                    <img
                      src="{% static 'website/img/portfolio/thumb/p-3.jpg' %}"
                      alt=""
                    />
                    <figcaption>
                      <h2>Project <span>Title</span></h2>
                      <p>Your Awesome Project Description</p>
                      <a href="#portfolio3" class="open-portfolio">Explore</a>
                    </figcaption>
                  </figure>
                </div>
                <!-- Popup content -->
                <div id="portfolio3" class="white-popup mfp-hide">
                  <img
                    src="{% static 'website/img/portfolio/p-3.jpg'%}"
                    alt="Portfolio Image"
                  />
                  <h2 class="project-title">Awesome Project Title</h2>
                  <p class="project-desc">
                    Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet
                    torquatos temporibus te. Nam nulla fabellas similique id,
                    eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in
                    vel illud numquam. Evertitur consetetur voluptatum pri id,
                    in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale
                    appareat.
                  </p>
                  <a class="project-url btn" href="#">See Live</a>
                </div>
                <!--.Single item end-->

                <!--Single portfolio item -->
                <div
                  class="col-sm-6 col-md-4 mix category-1"
                  data-myorder="Web Design"
                >
                  <figure class="effect-roxy">
                    <img
                      src="{% static 'website/img/portfolio/thumb/p-4.jpg'%}"
                      alt=""
                    />
                    <figcaption>
                      <h2>Project <span>Title</span></h2>
                      <p>Your Awesome Project Description</p>
                      <a href="#portfolio4" class="open-portfolio">Explore</a>
                    </figcaption>
                  </figure>
                </div>
                <!-- Popup content -->
                <div id="portfolio4" class="white-popup mfp-hide">
                  <img
                    src="{% static 'website/img/portfolio/p-4.jpg'%}"
                    alt="Portfolio Image"
                  />
                  <h2 class="project-title">Awesome Project Title</h2>
                  <p class="project-desc">
                    Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet
                    torquatos temporibus te. Nam nulla fabellas similique id,
                    eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in
                    vel illud numquam. Evertitur consetetur voluptatum pri id,
                    in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale
                    appareat.
                  </p>
                  <a class="project-url btn" href="#">See Live</a>
                </div>
                <!--.Single item end-->

                <!--Single portfolio item -->
                <div
                  class="col-sm-6 col-md-4 mix category-2"
                  data-myorder="App Development"
                >
                  <figure class="effect-roxy">
                    <img
                      src="{% static 'website/img/portfolio/thumb/p-5.jpg'%}"
                      alt=""
                    />
                    <figcaption>
                      <h2>Project <span>Title</span></h2>
                      <p>Your Awesome Project Description</p>
                      <a href="#portfolio5" class="open-portfolio">Explore</a>
                    </figcaption>
                  </figure>
                </div>
                <!-- Popup content -->
                <div id="portfolio5" class="white-popup mfp-hide">
                  <img
                    src="{% static 'website/img/portfolio/p-5.jpg'%}"
                    alt="Portfolio Image"
                  />
                  <h2 class="project-title">Awesome Project Title</h2>
                  <p class="project-desc">
                    Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet
                    torquatos temporibus te. Nam nulla fabellas similique id,
                    eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in
                    vel illud numquam. Evertitur consetetur voluptatum pri id,
                    in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale
                    appareat.
                  </p>
                  <a class="project-url btn" href="#">See Live</a>
                </div>
                <!--.Single item end-->

                <!--Single portfolio item -->
                <div
                  class="col-sm-6 col-md-4 mix category-3"
                  data-myorder="Graphic Design"
                >
                  <figure class="effect-roxy">
                    <img
                      src="{% static 'website/img/portfolio/thumb/p-6.jpg'%}"
                      alt=""
                    />
                    <figcaption>
                      <h2>Project <span>Title</span></h2>
                      <p>Your Awesome Project Description</p>
                      <a href="#portfolio6" class="open-portfolio">Explore</a>
                    </figcaption>
                  </figure>
                </div>
                <!-- Popup content -->
                <div id="portfolio6" class="white-popup mfp-hide">
                  <img
                    src="{% static 'website/img/portfolio/p-6.jpg'%}"
                    alt="Portfolio Image"
                  />
                  <h2 class="project-title">Awesome Project Title</h2>
                  <p class="project-desc">
                    Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet
                    torquatos temporibus te. Nam nulla fabellas similique id,
                    eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in
                    vel illud numquam. Evertitur consetetur voluptatum pri id,
                    in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale
                    appareat.
                  </p>
                  <a class="project-url btn" href="#">See Live</a>
                </div>
                <!--.Single item end-->

                <!--Single portfolio item -->
                <div
                  class="col-sm-6 col-md-4 mix category-1"
                  data-myorder="Graphic Design"
                >
                  <figure class="effect-roxy">
                    <img
                      src="{% static 'website/img/portfolio/thumb/p-7.jpg'%}"
                      alt=""
                    />
                    <figcaption>
                      <h2>Project <span>Title</span></h2>
                      <p>Your Awesome Project Description</p>
                      <a href="#portfolio7" class="open-portfolio">Explore</a>
                    </figcaption>
                  </figure>
                </div>
                <!-- Popup content -->
                <div id="portfolio7" class="white-popup mfp-hide">
                  <img
                    src="{% static 'website/img/portfolio/p-7.jpg'%}"
                    alt="Portfolio Image"
                  />
                  <h2 class="project-title">Awesome Project Title</h2>
                  <p class="project-desc">
                    Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet
                    torquatos temporibus te. Nam nulla fabellas similique id,
                    eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in
                    vel illud numquam. Evertitur consetetur voluptatum pri id,
                    in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale
                    appareat.
                  </p>
                  <a class="project-url btn" href="#">See Live</a>
                </div>
                <!--.Single item end-->

                <!--Single portfolio item -->
                <div
                  class="col-sm-6 col-md-4 mix category-2"
                  data-myorder="Graphic Design"
                >
                  <figure class="effect-roxy">
                    <img
                      src="{% static 'website/img/portfolio/thumb/p-8.jpg'%}"
                      alt=""
                    />
                    <figcaption>
                      <h2>Project <span>Title</span></h2>
                      <p>Your Awesome Project Description</p>
                      <a href="#portfolio8" class="open-portfolio">Explore</a>
                    </figcaption>
                  </figure>
                </div>
                <!-- Popup content -->
                <div id="portfolio8" class="white-popup mfp-hide">
                  <img
                    src="{% static 'website/img/portfolio/p-8.jpg'%}"
                    alt="Portfolio Image"
                  />
                  <h2 class="project-title">Awesome Project Title</h2>
                  <p class="project-desc">
                    Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet
                    torquatos temporibus te. Nam nulla fabellas similique id,
                    eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in
                    vel illud numquam. Evertitur consetetur voluptatum pri id,
                    in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale
                    appareat.
                  </p>
                  <a class="project-url btn" href="#">See Live</a>
                </div>
                <!--.Single item end-->

                <!--Single portfolio item -->
                <div
                  class="col-sm-6 col-md-4 mix category-1"
                  data-myorder="Web Design"
                >
                  <figure class="effect-roxy">
                    <img
                      src="{% static 'website/img/portfolio/thumb/p-1.jpg'%}"
                      alt=""
                    />
                    <figcaption>
                      <h2>Project <span>Title</span></h2>
                      <p>Your Awesome Project Description</p>
                      <a href="#portfolio1" class="open-portfolio">Explore</a>
                    </figcaption>
                  </figure>
                </div>
                <!-- Popup content -->
                <div id="portfolio1" class="white-popup mfp-hide">
                  <img
                    src="{% static 'website/img/portfolio/p-1.jpg'%}"
                    alt="Portfolio Image"
                  />
                  <h2 class="project-title">Awesome Project Title</h2>
                  <p class="project-desc">
                    Lorem ipsum dolor sit amet, quo ut reque putent. Per saperet
                    torquatos temporibus te. Nam nulla fabellas similique id,
                    eruditi accusamus sit ex. Modo aliquid elaboraret nam id, in
                    vel illud numquam. Evertitur consetetur voluptatum pri id,
                    in scaevola vulputate cum. Ea vis mazim accusam, vix ea tale
                    appareat.
                  </p>
                  <a class="project-url btn" href="#">See Live</a>
                </div>
                <!--.Single item end-->
              </div>
            </div>
            <!-- .portfolio-container -->
          </div>
          <!-- portfolio section end-->

          <!-- Testimonials Section
			   ================================================== -->
          <div class="row testimonials">
            <div class="over-div"></div>
            <div class="sec-divider"></div>
            <h2 class="section-title">برخی از مشتریان من</h2>

            <div class="col-md-8 col-md-offset-2 text-container">
              <div id="testimonial-slides" class="owl-carousel">
                <div>
                  <blockquote>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی
                      با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                      گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                      از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                    <cite> جاناتان</cite>
                  </blockquote>
                </div>
                <!-- Single testimonial -->

                <div>
                  <blockquote>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی
                      با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                      گرافیک است.
                    </p>
                    <cite> وب دیزاین دانلود</cite>
                  </blockquote>
                </div>
                <!-- Single testimonial -->

                <div>
                  <blockquote>
                    <p>
                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                      و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی
                      با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                      گرافیک است.
                    </p>
                    <cite> جان دوو</cite>
                  </blockquote>
                </div>
                <!-- Single testimonial -->
              </div>
              <!-- Owl Carousel End -->
            </div>
            <!-- text-container ends -->
          </div>
          <!-- Testimonials Section End-->

          <div class="row fun-facts">
            <ul>
              <li>
                <h3>50+</h3>
                <h5>مشتری راضی</h5>
              </li>
              <li>
                <h3><i class="fa fa-bicycle"></i></h3>
                <h5>دوچرخه سوار</h5>
              </li>
              <li>
                <h3>100+</h3>
                <h5>پروژه پایان یافته</h5>
              </li>
              <li>
                <h3><i class="fa fa-camera-retro"></i></h3>
                <h5>عکاس</h5>
              </li>
              <li>
                <h3>200+</h3>
                <h5>قهوه نوشیده شده</h5>
              </li>
            </ul>
          </div>
          <!-- Fun facts end-->

          <div class="row footer">
            <a href="http://www.webdesigndl.com">وب دیزاین دانلود</a>
            <span>کپی رایت &copy; 1393 تمامی حقوق محفوظ است</span>
          </div>
        </div>
        <!-- .page-info -->
      </div>
      <!-- Single Page end -->

      <!-- Contact Page-->

      <div class="single-page">
        <div class="page-title">
          <span><i class="fa fa-paper-plane fa-3x"></i></span>
          <h2>تماس</h2>
          <p class="menu-desc">تماس با من ...</p>
        </div>
        <!-- .page-title -->

        <!-- Contact Page Contents-->
        <div class="page-info container-fluid">
          <div class="row contact">
            <div class="over-div"></div>
            <div class="sec-divider"></div>
            <h2 class="section-title">چند خط بنویسید</h2>

            <!-- form -->
            <div class="row">
              <div
                class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-container"
              >
                <form
                  action="contact.php"
                  id="contactForm"
                  method="POST"
                  name=""
                >
                  <fieldset>
                    <div>
                      <input
                        id="contactName"
                        name="name"
                        placeholder="نام"
                        size="35"
                        type="text"
                      />
                    </div>

                    <div>
                      <input
                        id="contactEmail"
                        name="email"
                        placeholder="ایمیل"
                        size="35"
                        type="email"
                      />
                    </div>

                    <div>
                      <textarea
                        cols="5"
                        id="contactMessage"
                        name="message"
                        placeholder="پیام"
                        rows="5"
                      ></textarea>
                    </div>

                    <div>
                      <!-- contact-warning -->

                      <div id="message-warning">خطایی رخ داد</div>
                      <input
                        name="submit"
                        value="ارسال"
                        class="submit"
                        type="submit"
                      />

                      <span id="image-loader"
                        ><img
                          alt=""
                          src="{% static 'website/img/svg-loaders/mail-loader.svg'%}"
                      /></span>
                    </div>
                  </fieldset>
                </form>
                <!-- Form End -->
                <!-- contact-success -->

                <div id="message-success">
                  <i class="fa fa-check"></i>پیام شما ارسال شد. متشکرم!
                  <br />
                </div>
              </div>
            </div>
            <!-- Form Container End -->

            <div class="row social">
              <div class="col-md-6 address">
                <div class="row location">
                  <div class="col-md-12 col-lg-10 col-lg-offset-1">
                    <ul>
                      <li>
                        <img
                          src="{% static 'website/img/icons/location-map.svg'%}"
                          alt=""
                        />
                        <h4>تهران ایران</h4>
                      </li>
                      <li>
                        <img
                          src="{% static 'website/img/icons/phone-icon.svg'%}"
                          alt=""
                        />
                        <h4>+98 21 56544654</h4>
                      </li>
                      <li>
                        <img
                          src="{% static 'website/img/icons/email-icon.svg'%}"
                          alt=""
                        />
                        <h4>info@webdesigndl.com</h4>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row social-profiles">
                  <div class="col-md-12 col-lg-9 col-lg-offset-2">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-github fa-2x"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-slideshare fa-2x"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 map-container">
                <div id="map"></div>
              </div>
            </div>
            <!--Social End-->
          </div>
          <!--Contact End-->
          <div class="row footer">
            <a href="http://www.rupok.me">وب دیزاین دانلود</a>
            <span>کپی رایت &copy; 1393 کلیه حقوق محفوظ است</span>
          </div>
        </div>
        <!-- .page-info -->
      </div>
      <!-- Single Page end -->

      <a href="#" class="page-close">بستن</a>
      <a href="#" class="page-scroll">اسکرول</a>
    </div>
    <!-- .page-container -->

    <!-- JavaScripts -->
    <script src="{% static 'website/js/jquery-2.1.1.js'%}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false"></script>
    <script src="{% static 'website/js/gmaps.js'%}"></script>
    <script src="{% static 'website/lib/magnific-popup/jquery.magnific-popup.js'%}"></script>
    <script src="{% static 'website/lib/mixitup/jquery.mixitup.js'%}"></script>
    <script src="{% static 'website/lib/owl-carousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'website/js/Chart.min.js'%}"></script>
    <script src="{% static 'website/js/scripts.js'%}"></script>
  </body>
</html>
